# MinIO config
# for uploads/downloads
MINIO_ENDPOINT=minio:9000 
# for signing presigned URLs for streaming .ts and let them be available on browser
# 9002 is the port defined in nginx port mapping for minio
MINIO_PUBLIC_HOST=localhost:9002 
MINIO_USR=minioadmin
MINIO_PWD=minioadmin
MINIO_BUCKET_VOD=vod

# Redis config
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# API Secrets
TRANSCODE_API_KEY=my-secret-key
TRANSCODE_API_URL=http://transcode-server:8004/transcode

# CORS
ALLOWED_ORIGINS=http://localhost,http://127.0.0.1
